__pycache__/
archive/
data/
docs/
google_drive_folders/
google_sheets/
logs/
reports/
.env
service_account_credentials.json
oauth.json
mycreds.txt
snowflake_creds.json
token.json
*.p8
*.pub
*creds*.json
*/token.json
desktop.ini
sheets.googleapis.com-python.json
looker.ini